- form_for @<%= singular_name %> do |f|
  = f.error_messages
  %div.input-fields
    <%- for attribute in attributes -%>
    %div.row
      = f.label :<%= attribute.name %>
      = f.<%= attribute.field_type %> :<%= attribute.name %>
    <%- end -%>
    %div.row
      %label &nbsp;
      = f.submit "Submit"
