- title "<%= singular_name.titleize %>"

%div.display-fields
  <%- for attribute in attributes -%>
  %div.row
    %label <%= attribute.column.human_name.titleize %>:
    %div= h @<%= singular_name %>.<%= attribute.name %>
  <%- end -%>

  %div
  <%- if action? :edit -%>
    = link_to "Edit", edit_<%= singular_name %>_path(@<%= singular_name %>)
    |
  <%- end -%>
  <%- if action? :destroy -%>
    = link_to "Destroy", @<%= singular_name %>, :confirm => 'Are you sure?', :method => :delete
    |
  <%- end -%>
  <%- if action? :index -%>
    = link_to "View All", <%= plural_name %>_path
  <%- end -%>
